.rocket-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.rocket {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.rocket img {
  width: 25em;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rocket-info h2 {
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.badge {
  font-size: 0.9rem;
  color: white;
  background-color: var(--green);
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.rocket-info p {
  font-size: 1.2rem;
  font-weight: 400;
}

.rocket-buttons {
  margin-top: auto;
}

.reserve-button {
  font-size: 1.1rem;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue);
  cursor: pointer;
}

.reserve-button:hover {
  background-color: var(--dark-blue);
}

.cancel-button {
  font-size: 1.1rem;
  color: var(--blue);
  padding: 15px;
  border: 3px solid var(--blue);
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: rgba(236, 230, 230, 0.404);
}